body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

header{
background:#000;
padding:15px;
display:flex;
justify-content:space-between;
}

a{
color:#ffd900;
text-decoration:none;
}

.container{
padding:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:15px;
}

.card{
background:#1d1c1c;
padding:10px;
border-radius:8px;
}

.card img{
width:100%;
height:240px;
object-fit:cover;
border-radius:5px;
}

iframe{
width:100%;
height:300px;
margin-top:20px;
border-radius:8px;
}
